@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {
  background-color: #57c5f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 44px;
  margin-bottom: 16px;
}

.section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 16px;
}



.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-container input[type="number"],
.form-container input[type="text"],
.form-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-container input[type="number"]:focus,
.form-container input[type="text"]:focus,
.form-container input[type="date"]:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  background-color: #4f81aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #26415a;
}

.list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container p {
  margin-bottom: 16px;
  color: #333;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.list-container li:last-child {
  margin-bottom: 0;
}

.chart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
  margin-bottom: 16px;
  color: #333;
}

.chart-container canvas {
  width: 100%;
  height: auto;
}